<!DOCTYPE html>
<html>
  <head>
    <title>I'm Getting Cheese Fries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <header>
      <div class="container">
        <h1 class="logo">I'm Getting Cheese Fries</h1>
      </div>
    </header>

    <div class="container">
      <div class="jumbo">
        <h2>Whatever I'm Getting Cheese Fries</h2>
        <h3>Cady: It's 40 percent. Well 48 over 120 equals X over 100 and then you cross multiply and get the value of X.<br />
          Regina George: *Confused look* Whatever, I'm getting cheese fries. </h3>
      {% block content %}
      {% endblock %}
      <img src="{{ url_for('static', filename="img/cheeseFries.gif") }}" />
    </div>
  </body>
</html>
